.thumbnail-img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}
.thumbnail-btn {
  background-color: transparent;
  border-width: 0;
  width: 70px;
  height: 70px;
  margin: 8px;
  cursor: pointer;
}
